.container{
    width: 1140px;
    margin: 0 auto;
    font-size: 16px;
}

.col1{ width: 95px; }
.col2{ width: 190px; }
.col3{ width: 285px; }
.col4{ width: 380px; }
.col5{ width: 475px; }
.col6{ width: 570px; }
.col7{ width: 665px; }
.col8{ width: 760px; }
.col9{ width: 855px; }
.col10{ width: 950px; }
.col11{ width: 1045px; }
.col12{ width: 1140px; }

table{
    border-collapse: collapse;
}

th, td{
    border: 10px solid black;
    padding: 15px;
}

#boxmodel{
    width: 300px;
    height: 400px;
    background-color: lightblue;
}

#boxmodel div:nth-child(odd){
    width: 300px;
    height: 100px;
    background-color: lightyellow;
    text-align: center;
    line-height: 100px;
}

#boxmodel div:nth-child(even){
    width: 300px;
    height: 100px;
    background-color: lightcoral;
    text-align: center;
    line-height: 100px;
}