<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가계부</title>
    <!-- <link rel="stylesheet" th:href="@{/css/reset.css}"/> -->
    <style>
        .calculater_base{
            width: 600px;
            height: 600px;
            background-color: lightgreen;
        }

        .calculater_base input{
            width: 400px;
            height: 100px;
        }

        .calculater_base button{
            width: 100px;
            height: 100px;
            float: left;
        }
        
        .calculater_base button:nth-last-child(3){
            width: 200px;
        }

        .calculater_base .free{
            clear: both;
        }

    </style>
</head>
<body>
    <h1>계산기</h1>
    <div class="calculater_base">
        <input type="text" name="calculater_display" id="calculater_display">
        <div class="free"></div>
        <button onclick="calculate(this)">7</button>
        <button onclick="calculate(this)">8</button>
        <button onclick="calculate(this)">9</button>
        <button onclick="calculate(this)">+</button>
        <div class="free"></div>
        <button onclick="calculate(this)">4</button>
        <button onclick="calculate(this)">5</button>
        <button onclick="calculate(this)">6</button>
        <button onclick="calculate(this)">-</button>
        <div class="free"></div>
        <button onclick="calculate(this)">1</button>
        <button onclick="calculate(this)">2</button>
        <button onclick="calculate(this)">3</button>
        <button onclick="calculate(this)">*</button>
        <div class="free"></div>
        <button onclick="calculate(this)">0</button>
        <button onclick="calculate(this)">=</button>
        <button onclick="calculate(this)">/</button>
    </div>
    <script>
        function con(params) {
            console.log(params);
        }
        
        var firstNumber = 0;
        var secondNumber = 0;
        var arithmeticOperator = "";
        var result = "";
        function calculate(params) {
            if (!isNaN(params.innerText)) {
                con(params.innerText);
                firstNumber = firstNumber + params.innerText;
                firstNumber = firstNumber.replace(/(^0+)/, "");
                con('firstNumber');
                con(firstNumber);
            } else if (isNaN(params.innerText) && params.innerText != "=") {
                secondNumber = firstNumber;
                con('secondNumber');
                con(secondNumber);
                firstNumber = 0;
                arithmeticOperator = params.innerText;
            } else {
                result = document.getElementById("calculater_display");
                con(result);
                con(params.innerText);
                switch (arithmeticOperator) {
                    case '+':
                        result.value = Number(firstNumber) + Number(secondNumber);
                        break;
                    case '-':
                        result.value = Number(firstNumber) - Number(secondNumber)
                        break;
                    case '*':
                        result.value = Number(firstNumber) * Number(secondNumber)
                        break;
                    case '*':
                        result.value = Number(firstNumber) / Number(secondNumber)
                        break;
                    default:
                        console.log(`Sorry.`);
                }
            }
        }
    </script>
</body>
</html>